In [1]:
student_1_name= "Prasanthi"
student_1_name[0]

'P'

In [2]:
student_1_name= "Prasanthi"
student_1_name[6]

't'

In [3]:
student_2_name= 'Prasanthi'
student_2_name[0]

'P'

In [4]:
student_3_name= "Phani"
student_3_name[4]

'i'

### List data types

### Q) How to store the no.of students marks?

In [5]:
student_1= 99
student_2= 93
student_3= 85
student_4= 75
student_5= 90
student_6= 35

In [6]:
student_marks = [99,93,85,75,90,35]
print("marks of student 6=",student_marks[5])

marks of student 6= 35

In [7]:
print("marks of student 5=",student_marks[4])

marks of student 5= 90

In [8]:
print("marks of student 3=",student_marks[2])

marks of student 3= 85

In [10]:
student_namesmarks = ["Prashu","Sri","Phani",35,69,70.5]
print("namesmarks 4= ",student_namesmarks[3])

namesmarks 4=  35

### update the list

In [22]:
student_namesmarks[1]= "Nagalakshmi"

In [12]:
student_namesmarks

['Prashu', 'Nagalakshmi', 'Phani', 35, 69, 70.5]

In [13]:
# memory address of student_namesmarks
id(student_namesmarks)

2031879049472

In [23]:
# memory address of Sri
student_namesmarks[1]= "Sri"
id(student_namesmarks[1])

2031888012208

In [19]:
# memory address of Nagalakshmi
student_namesmarks[1]= "Nagalakshmi"
id(student_namesmarks[1])

2031878499888

### Tuple data type

In [25]:
random_tuple= ("Nagalakshmi","Phani","Padma",46,35,85.5)
print(type(random_tuple))

<class 'tuple'>

In [26]:
random_tuple[0]= "Sri"

TypeError: 'tuple' object does not support item assignment

### Set data type

In [84]:
set_1= {"Tamil","Kannada","Malayalam","tamil"}
print(len(set_1))

4

In [83]:
set_2= {"Tamil","Kannada","Malayalam","Tamil"}
print(len(set_2))

3

In [85]:
set_2[0]

TypeError: 'set' object is not subscriptable

### remove and update instrations

In [86]:
set_1.remove("Kannada")

In [87]:
set_1

{'Malayalam', 'Tamil', 'tamil'}

In [88]:
set_1.update({"Telugu"})

In [89]:
set_1

{'Malayalam', 'Tamil', 'Telugu', 'tamil'}

In [99]:
set_3= {"python","java"}

In [100]:
set_3

{'java', 'python'}

In [94]:
set_3= {"python","java",[2,9.5],a+b}

TypeError: unhashable type: 'list'

In [101]:
set_3={"abcd","efgh",set_2}

TypeError: unhashable type: 'set'

### Dictionary data types

In [71]:
degree_1= {"Prasanthi":"Degree","Sri":"Btech"}

In [72]:
degree_2= {"Sri":"Btech","Prasanthi":"Degree"}

In [73]:
degree_1==degree_2

True

### conversion of data type
### Immplict type conversion is automatically handled by python at runtime.
### Explicit type conversion will done by the programmer.

In [74]:
# Implicit type converstion
a=5
b=6.5
c=a+b
print("type of a=",type(a),"type of b=",type(b),"type of c=",type(c))

type of a= <class 'int'> type of b= <class 'float'> type of c= <class 'float'>

In [75]:
# Explict type conversion
a=5
print(type(a))
a=float(a)
print(type(a))

<class 'int'>
<class 'float'>

In [77]:
a=5
b=10
b=int(b)
print(a+b)

15